.characterCreating {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: rgb(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
}

.characterCreating-modal {
    align-self: center;
}